<% content_for :page_title,  "Jody Albritton " %>
<% content_for :page_description, "The website and blog of Jody Albritton"  %>

<!-- INTRO-->
    <!--===============================================================-->
    <div class="bg-intro" id="home">
      <div class="layer-intro">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">Jody Albritton<br> Engineer. Web Dev. Geek.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-down"></div>

   

    <!-- SKILLS-->
    <!--===============================================================-->
    <div class="bg-portfolio" id="skills">
      <div class="container">

        <div class="row">
          <div class="col-sm-6 margin-bottom-xs">
            <h2>I Love To Build Things</h2>
            <p>
              Engineering problems often become pursuits of passion. I have been a life long technolgy enthusiast, working in every aspect of the field. I have been the guy at the help desk and I have designed the software that they new guy at the help desk now uses. I became a software developer to solve problems that I was facing. Eventually, I was able to help others solve their problems as well.  
            </p>
          </div>
          <div class="col-sm-6">
            <h4>Ruby</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="sr-only"></span>
              </div>
            </div>
            <h4>Java</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only"></span>
              </div>
            </div>
            <h4>IoT</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only"></span>
              </div>
            </div>
            <h4>Javascript</h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



    <!-- CONTACT-->
    <!--===============================================================-->
    <div class="bg-contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>Email Me</h3>
              <!-- YOUR E-MAIL-->
            <a href="mailto:jody.albritton@gmail.com" class="mail"><span class="glyphicon glyphicon-envelope"></span>E-MAIL</a>
          </div>
        </div>
      </div>
    </div>
