 <!-- INTRO-->
    <!--===============================================================-->
    <div class="bg-intro-blog" id="home">
      <div class="layer-intro-blog">
      </div>
      <p id="notice"><%= notice %></p>
    </div>

    <!-- BLOG-->
    <!--===============================================================-->
    <div class="bg-post">
      <div class="container">
        <div class="row row-blog">
          <div class="col-md-8 col-md-offset-2 wrapper-blog">
  				<%= render 'form' %>
				<%= link_to 'Show', @post %> |
				<%= link_to 'Back', posts_path %>
          </div>
        </div>
      </div>
    </div>

